# Development mode flag
export DEV_MODE=true

# Google project ID
export PROJECT_ID=dev

# Server port
export PORT=8094

# Postgres database address
export DATABASE_URL=postgres://shipping_service:abc123@localhost:5432/vb_shipping?sslmode=disable

# Path to GCP credentials file or mock and local emulation;
# Use 'dev' to mock the emission of the event
# Use 'emulator' to point to a local pubsub emulator (using command similar to 'gcloud beta emulators pubsub start --project=dev')
export CREDENTIALS_PATH=emulator

export API_ORDER_ID=1520

export INTEGRATION_KEY=Y2RiZTk0M2UwNGRiYWRjZDhlYzMxY2Y2YmQxNTcxM2I6

$(gcloud beta emulators pubsub env-init)