# Development mode flag
export DEV_MODE=true

# Google project ID
export PROJECT_ID=dev

# Server port
export PORT=8090

# Postgres database address
export DATABASE_URL=postgres://user_service@localhost:5432/vb_users?sslmode=disable

# Path to GCP credentials file or mock and local emulation;
# Use 'dev' to mock the emission of the event (useful when you don't want to validate the communication)
# Use 'emulator' to point to a local pubsub emulator (using command similar to 'gcloud beta emulators pubsub start --project=dev')
export CREDENTIALS_PATH=emulator

# Number of avatar images available
export AVATAR_COUNT=48

# Format for avatar URLs: must take a single integer argument.
export AVATAR_FORMAT="https://img-staging.veganapi.com/avatar-%02d.png"

# STRIPE'S API KEY
export STRIPE_KEY=STRIPE_KEY

# Google Services API KEY
export GOOGLE_API_KEY=GOOGLE_KEY

# Encryption KEY
export ENCRYPTION_KEY=1234

$(gcloud beta emulators pubsub env-init)
