# Development mode flag
export DEV_MODE=true

# Google project ID
export PROJECT_ID=dev

# Server port
export PORT=8082

# Postgres database address
export DATABASE_URL=postgres://email_service@localhost:5432/vb_email?sslmode=disable

# Path to GCP credentials file or mock and local emulation;
# Use 'dev' to mock the emission of the event (useful when you don't want to validate the communication)
# Use 'emulator' to point to a local pubsub emulator (using command similar to 'gcloud beta emulators pubsub start --project=dev')
export CREDENTIALS_PATH=emulator

# API keys for Mailjet: if both variables are empty or as 'dev',
# the message that would be sent though Mailjet
# will be validated, but only printed.
export MAILJET_API_KEY_PUBLIC=
export MAILJET_API_KEY_PRIVATE=

# Maximum number of emails to be sending at a time
export SIMULTANEOUS_EMAILS=10

$(gcloud beta emulators pubsub env-init)

. ../services.env