# Development mode flag
export DEV_MODE=true

# Google project ID
export PROJECT_ID=dev

# Server port
export PORT=8089

# Postgres database address
export DATABASE_URL=postgres://cart_service@localhost:5432/vb_carts?sslmode=disable

# Path to GCP credentials file or mock and local emulation;
# Use 'dev' to mock the emission of the event (useful when you don't want to validate the communication)
# Use 'emulator' to point to a local pubsub emulator (using command similar to 'gcloud beta emulators pubsub start --project=dev')
export CREDENTIALS_PATH=dev

# Base URL for image blobs
export IMAGE_BASE_URL=https://img-staging.veganapi.com

$(gcloud beta emulators pubsub env-init)
